#chartdiv {
    width: 90%;
    height: 75%;
    background-color: #f7f7f7;
    margin: 2% 5%;
}

p {
    text-align: center;
    font-size: 20px;
    margin: 0;
    font-family: Chewy;
}

body {
    margin: 1% 0;
    background-color: #f7f7f7;
}

img {
    margin: 0;
}

.container {
    text-align: center;
}